@charset "UTF-8";

body {
  background-color: #f8f8f8;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

input, select, iframe, button {
  border: none;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #f9014d;
}

body {
  font-family: 'Opens Sans', 'sans-serif';
  font-size: inherit;
}
